.App {
    height: 100%;
    width: 100hh;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-image: url('./components/assets/images/beach.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}