.feels, .humidity, .winds {
  border: 1px solid rgb(0, 0, 0);
  height: 21vh;
  width: auto;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(128, 128, 128, 0.3);
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}

.misc-weather-img {
  width: 70%;
  height: auto;
}

.feels, .humidity {
  margin-bottom: 5%;
}

.feels img {
  position: relative;
  left: 20%;
  height: 90%;
  width: auto;
}
.feels-num {
  position: relative;
  right: 50%;
}

.feels-desc {
  position: relative;
  left: 90%;
  padding-top: 1rem;
}

.feels-desc-container {
  position:relative;
  bottom: 40%;
  right: 23%; 
}

.humidity-desc {
  position: relative;
  right: 35%; 
}

.wind-speed {
  position: relative;
  top: 40%;
  left: 10%; 
}

.wind-desc {
  position: relative;
  bottom: 40%;
  right: 75%; 
}

.winds img {
  position: relative;
  left: 20%;
  height: 75%;
  width: auto;
}