.weather-container {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: auto;
}

.temp {
    font-size:6.25rem;
    display: flex;
    position: relative;
    left: 15%;
}

.location h1 {
    font-size: 3.125rem;
    position: relative;
    left: 5%;
}

.description p {
    text-transform: uppercase;
}
.location h1, .temp p {
    color: rgb(107, 115, 132);
}
tr th {
    pointer-events: none;
}
.search {
    display: inline-block;
    position: relative;
    left: 35%;
    margin-right: 70%;
    width: 100%;
    height: auto;
}

.weather-header_elements{
    height: 6.25rem;
}

.search-field {
    width: 15.625rem;
    box-sizing: border-box;
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 15px 0 0 15px;
    font-size: 0.875rem;
    background-image: url('../assets/images/search-icon.png');
    background-size: 1.25rem;
    background-position: 0.625rem; 
    background-repeat: no-repeat;
    background-color: none;
    padding: 0.75rem 1.25rem 0.75rem 2.50rem;
    outline: none;
}

.search-btn {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(109, 182, 213);
    border-radius: 15px;
    height: 2.69rem;
    width: 80px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-size: 0.875rem;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transiton-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.search-btn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(0.99);
}

.misc-weather-container {
    position: absolute;
    top: 23%;
    left: 68%;
    height: auto;
    width: 21%;
}

.add-loc_btn {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    background: #1e90ff;
    width: 17.7rem;
    height: 5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transiton-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    position: relative;
    left: 68%;
}

.add-loc_btn:hover, 
.add-loc_btn:focus, 
.add-loc_btn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.tooltipText{
    left: 79.5%;
    z-index: 9999;
}

.tooltip:hover .tooltipText{
    top: -55%;
}

.weather-img {
    padding-left: 5%;
    width: 25%;
    height: auto;
}