.forecast-container {
  color: black;
  height: auto;
}
.forecast {
  display: flex;
  float: left;
}
.day_forecast {
  margin: auto 1%;
  border: solid black 1px;
  background-color: rgb(128, 128, 128, 0.3); 
  border-radius: 1.25rem;
  width: 10%;
  height: auto;
  position: relative;
  left: 5%;
}
.forecast-temp {
  display: flex;
}
.forecast-img {
  height: auto;
  width: 70%;
  padding: 0.25rem;
  position: relative;
  left: 15%;
}
.day_forecast p {
  text-align: center;
}