.nav {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  left: 20;
  transition: 0.5s;
  top: 450px;
  z-index: 99999;
}

.side-nav {
  border-radius: 0 15px 15px 0;
  transition: 0.5s;
}

.btn {
  margin: 0;
  background-color: rgba(156, 153, 153, 0.3);  
  padding: 20px;
  width: 100%;
  cursor: pointer;
}

.displayed {
  transform: translate(0%, 0%);
}

.dismissed {
  transform: translatex(-70%);
}
.nav-dashboard {
  border-radius: 0 15px 0 0;
}

.dashboard-btn {
  border-radius: 0 15px 0 0;
}

.profile-btn {
  border-radius: 0 0 15px 0;
}

.toggle-btn{
  transform:rotate(-90deg);
  position: relative;
  top: 44%;
  right: 35%;
  width: 50px;
  background-color: rgb(30, 121, 239);
  border: none;
  text-orientation: upright;
  writing-mode: vertical-rl;
  border: 1px solid rgb(7, 7, 225);
}