.profile-container {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: auto;
}

.user-info {
  width: 50%;
  position: relative;
  left: 25%;
  top: 15rem;
}

.custom-file-upload {
  margin: auto;
  border: 1px solid #ccc;
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
}

.file-upload {
  display: none;
}

.custom-file-upload img {
  max-height: 100%;
}

.name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.name-text, .name-heading, .name-input {
  font-size: 20px;
  font-weight: 500;
}

.name-heading {
  margin-right: 5px;
}

.name-change-btn {
  position: absolute;
  top: 60px;
  font-size: 15px;
  font-weight: 500;
  background: #1e90ff;
  width: 150px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transiton-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.name-change-btn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.name-input {
  width: 150px;
}

.submit-userinfo-btn {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 500;
  background: #0b9657;
  width: 250px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transiton-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.submit-userinfo-btn:hover, 
.submit-userinfo-btn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.update-creds-container {
  margin-top: 50px;
}

.saved-results-msg {
  position: absolute;
  left: 48.2%;
  font-size: 20px;
  font-weight: 500px;
}

.unauthorized-save-userinfo {
  position: relative;
  top: 360px;
  font-size: 20px;
}