
.form-body {
  text-align: left;
  margin-left: 43.5%;
}

.update-modal-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  background: #1e90ff;
  width: 250px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transiton-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.email-container p, 
.password-container p,
.confirm-container p {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0px;
}

.submit-updatecreds-btn {
  font-size: 18px;
  font-weight: 500;
  background: #0b9657;
  width: 400px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transiton-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  margin-bottom: 50px;

}

.submit-updatecreds-btn:hover, 
.submit-updatecreds-btn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.update-success-text {
  position: relative;
  top: 30px;
  font-size: 20px;
  font-weight: 500;
}