.container {
    overflow: hidden;
    padding: 30px;
    border-radius: 10px;
    background-color: #bcbcbc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top {
    margin-left: 20px;
}
.temp {
    font-size: 100px;
    display: flex;
    height: 200px;
}
.temp p {
    margin-bottom: 20px;
}
.weather-img{
    height: 250px;
    width: auto;
    margin-left: 70px;
}
.description p {
    font-size: 25px;
}
.center {
    float: left;
    color: white;
    display: flex;
    margin-top: 50px;
    border: solid white 2px;
    border-radius: 10px;
    background-color: rgb(128, 128, 128, 0.6);
}
.feels, .humidity, .winds {
    margin: 0 60px;
}
.feels p, .humidity p, .winds p {
    font-size: 20px;
}
.feels p:nth-child(2) {
    font-weight: bold;
}
.humidity p:nth-child(2) {
    font-weight: bold;
}
.winds p:nth-child(2) {
    font-weight: bold;
}
.description p {
    text-transform: uppercase;
}
.location h1, .temp p {
    color: white;
}
tr th {
    pointer-events: none;
}
.search {
    display: inline-block;
    margin-right: 60%;
}

