.forecast-container {
  color: black;
  height: 100%;
  margin-top: 60px;
}
.forecast {
  display: flex;
  float: left;
}
.day_forecast {
  width: 90px;
  margin: auto 16px;
  border: solid black 1px;
  background-color: rgb(128, 128, 128, 0.3); 
  border-radius: 20px;
  width: 200px;
  height: 275px;
  position: relative;
  left: 9.5%;
}
.forecast-temp {
  display: flex;
}
.forecast-img {
  height: 150px;
  width: auto;
  position: relative;
  left: 12%;
}
.day_forecast p {
  text-align: center;
}